# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Redis
REDIS_URL=redis://localhost:6379/0

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crypto_pipeline

# Binance
BINANCE_WS_URL=wss://stream.binance.com:9443
BINANCE_SYMBOLS=ethusdt,btcusdt

# App
LOG_LEVEL=INFO
